.marquee {
  animation: scroll-left 30s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }

}


/* .slideLeft{
  animation: slideInLeft 10s ease-out forwards;
}

@keyframes slideInLeft {
  0%{
     transform: translateX(-100%),
  }100% {
     transform: translateX(0%)
  }
  
} */
